<nav id="navbar" class="product-tab" style="display: none;">
  <div class="wrapper">
    <div class="product-title">{{ product.title | escape }}</div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#popis">Popis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#slozeni">Složení</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#davkovani">Dávkování</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#recenze">Recenze</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq">FAQ</a>
      </li>
    </ul>
    <div class="buy-button"><a href="#shopify-section-product-template">Koupit produkt</a></div>
  </div>
</nav>