<div class="ecology-container">
    {% section 'ecology-index-section' %}
    {% section 'ecology-image-text' %}
    {% section 'ecology-text-block' %}
</div>
{% section 'ecology-icons-button' %}
{% section 'ecology-text-logos' %}
{% section 'ecology-heading-images' %}
{% section 'footer-newsletter' %}
<style>
    .ecology-container {
        padding: 60px 165px 0 165px;
    }

    @media screen and (max-width: 1250px) {
        .ecology-container {
            padding: 0 80px;
        }
    }

    @media screen and (max-width: 970px) {
        .ecology-container {
            padding: 30px 30px 0 30px;
        }
    }

    @media screen and (max-width: 768px) {
        .ecology-container {
            padding: 0 16px;
            margin-top: 20px;
        }
    }
</style>